---
title: Past Season - 2018
layout: default
season: 2018
permalink: /2018/
---

<section class="u-bg-overlay g-bg-black-opacity-0_6--after g-bg-img-hero g-py-200--md g-py-80"
	style="background-image: url(/images/gallery/2019/56524217_10217218452706341_3046879473711448064_o.jpg);">
	<div class="container u-bg-overlay__inner text-center g-color-white">
		<div class="row">
			<div class="col-md-10 ml-md-auto mr-md-auto">
				<h2 class="display-4 text-uppercase g-font-weight-600 g-mb-20">
					Strathclyde Masters<br>Basketball Tournament<br>{{page.season}}
				</h2>

				<p class="lead g-mb-40">The Strathclyde Masters is the premier basketball tournament in Scotland for men over 50, men over 60 and women over 45.</p>
			</div>
		</div>
	</div>
</section>

{% include {{ page.season }}/content/teams.html %}
{% include {{ page.season }}/content/gallery.html %}
