<section class="g-pt-20 g-pb-50 g-bg-secondary">
	<div class="container">
		<h2 class="g-color-black g-font-weight-600 g-font-size-25 g-font-size-35--lg g-line-height-1_2 mb-4">
			{{ season }} Results
		</h2>

		<div class="row">
			<div class="col">
				<div class="table-responsive">
					<table class="table table-bordered table-hover table-dark u-table--v2 text-center text-uppercase g-col-border-side-0">
						<thead>
							<tr class="g-bg-primary g-col-border-top-0">
								<th class="g-brd-white-opacity-0_1">Men 60+</th>
								<th class="g-brd-white-opacity-0_1">Men 50+</th>
								<th class="g-brd-white-opacity-0_1">Women 45+</th>
							</tr>
						</thead>

						<tbody class="g-font-size-12 g-color-white-opacity-0_5 g-font-weight-600">
							<tr>
								<td class="g-color-white-opacity-0_9">Strathclyde Sixers</td>
								<td class="g-color-white-opacity-0_9">Galway</td>
								<td class="g-color-white-opacity-0_9">Strathclyde Ladies</td>
							</tr>

							<tr>
								<td class="g-color-white-opacity-0_9"><img class="img-fluid" src="/images/gallery/2019/56528995_10217219556093925_2867191515359215616_o.jpg"></td>
								<td class="g-color-white-opacity-0_9"><img class="img-fluid" src="/images/gallery/2019/56563207_10217219961144051_2769789929192947712_o.jpg"></td>
								<td class="g-color-white-opacity-0_9"><img class="img-fluid" src="/images/gallery/2019/56403703_10217219559174002_5599682075947958272_o.jpg"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="g-pt-20 g-pb-50 g-bg-secondary">
	<div class="container">
		<h2 class="g-color-black g-font-weight-600 g-font-size-25 g-font-size-35--lg g-line-height-1_2 mb-4">
			{{ season }} Teams
		</h2>

		<div class="row">
			<div class="col">
				<div class="card g-brd-primary rounded-0">
					<h3 class="card-header g-bg-primary g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-0">
						<i class="fa fa-male g-mr-5"></i>
						Men
					</h3>

					<div class="card-block table-responsive g-pa-15">
						<table class="table u-table--v1 mb-0">
							<thead>
								<tr class="g-col-border-top-0">
									<th>M50+A</th>
									<th>M50+B</th>
									<th>M60+A</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>Strathclyde</td>
									<td>Old Warriors (Belgium)</td>
									<td>Strathclyde Sixers</td>
								<tr>
									<td>London Eagles</td>
									<td>Rochdale Rockets</td>
									<td>Shannon Dodgers</td>
								</tr>
								<tr>
									<td>Galway</td>
									<td>Aberdeen</td>
									<td>Derby Ecletic</td>
								</tr>
								<tr>
									<td>Deer Doctors</td>
									<td>Rathmines</td>
									<td>Severnside</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card g-brd-primary rounded-0">
					<h3 class="card-header g-bg-primary g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-0">
						<i class="fa fa-female g-mr-5"></i>
						Women
					</h3>

					<div class="card-block table-responsive g-pa-15">
						<table class="table u-table--v1 mb-0">
							<thead>
								<tr class="g-col-border-top-0">
									<th>W45+A</th>
									<th>W45+B</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>Strathclyde</td>
									<td>Pegasus</td>
								<tr>
									<td>Nunthorpe Bruins</td>
									<td>Glasnevin</td>
								</tr>
								<tr>
									<td>Mayo</td>
									<td>Rochdale Rockettes</td>
								</tr>
								<tr>
									<td>Fusion</td>
									<td>Oxford Diamonds</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
