<section class="g-pt-20 g-pb-50 g-bg-secondary">
	<div class="container">
		<h2 class="g-color-black g-font-weight-600 g-font-size-25 g-font-size-35--lg g-line-height-1_2 mb-4">
			{{ page.season }} Playing Venues
		</h2>

		<div class="row">
			<div class="col-md-6">
				<address>
					<a href="https://www.renfrewshireleisure.com/lagoon-leisure-centre/" target="_blank">Lagoon Leisure Centre</a><br>
					11 Christie Street<br>
					Renfrew<br>
					Scotland<br>
					PA1 1NB
				</address>

				<div id="LagoonMap" class="js-g-map embed-responsive embed-responsive-16by9" data-lat="55.8455362" data-lng="-4.4152753" data-title="Lagoon Leisure Centre" data-pin="true"></div>
			</div>

			<div class="col-md-6">
				<address>
					<a href="https://www.renfrewshireleisure.com/renfrew-leisure-centre/" target="_blank">Renfrew Leisure Centre</a><br>
					Paisley Rd<br>
					Renfrew<br>
					Scotland<br>
					PA4 8JL
				</address>

				<div id="RenfrewMap" class="js-g-map embed-responsive embed-responsive-16by9" data-lat="55.8690792" data-lng="-4.3991444" data-title="Renfrew Leisure Centre" data-pin="true"></div>
			</div>
		</div>

		<h2 class="g-color-black g-font-weight-600 g-font-size-25 g-font-size-35--lg g-line-height-1_2 mb-4 g-mt-20">
			{{ page.season }} Tournament Hotel &amp; Gala Dinner Venue
		</h2>

		<div class="row">
			<div class="col-md-6">
				<address>
					<a href="https://www.glynhill.com/" target="_blank">Glynhill Hotel and Leisure Club</a><br>
					169 Paisley Road<br>
					Renfrew<br>
					Scotland<br>
					PA4 8XB
				</address>

				<div id="GlynhillMap" class="js-g-map embed-responsive embed-responsive-16by9" data-lat="55.864413" data-lng="-4.4046378" data-title="Glynhill Hotel and Leisure Club" data-pin="true"></div>
			</div>
		</div>
	</div>
</section>
