{% assign teams = 2025.teams.genders %}

{% if teams %}
	<section class="g-pt-20 g-pb-50 g-bg-secondary">
		<div class="container">
			<h2 class="g-color-black g-font-weight-600 g-font-size-25 g-font-size-35--lg g-line-height-1_2 mb-4">
				{{ season }} Teams
			</h2>

			<p>Any qualified referees who would be interested in officiating at this years Strathclyde Masters tournament please get in contact with <a href="mailto:officials@strathclydemasters.com">Stuart Holland</a>. We are also looking for qualified table officials to help out over the weekend.</p>

			<div class="row">
				{% for team in teams %}
					{% assign competitions = team.competitions %}

					<div class="col">
						<div class="card g-brd-primary rounded-0">
							<h3 class="card-header g-bg-primary g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-0">
								<i class="fa fa-male g-mr-5"></i>
								{{ team.gender }}
							</h3>

							<div class="card-block table-responsive g-pa-15">
								<table class="table u-table--v1 mb-0">
									<thead>
										<tr class="g-col-border-top-0">
											{% for competition in competitions %}
												<th>{{ competition.competition }}</th>
											{% endfor %}
										</tr>
									</thead>

									<tbody>
										<tr>
											{% for competition in competitions %}
												<td>
													{% for team in competition.teams %}
														{{ team.team }}<br>
													{% endfor %}
												</td>
											{% endfor %}
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

			<p>Last updated: {{ 2025.teams.lastModified | date: '%e-%b-%Y' }}</p>
		</div>
	</section>
{% else %}
	<section class="u-bg-overlay g-bg-black-opacity-0_6--after g-bg-img-hero g-py-200--md g-py-80"
		style="background-image: url(/images/gallery/2019/56457845_10217219559614013_2471859330748514304_o.jpg);">
		<div class="container u-bg-overlay__inner text-center g-color-white">
			<div class="row">
				<div class="col-md-10 ml-md-auto mr-md-auto">
					<h3 class="g-font-weight-700 g-font-size-40 g-font-size-55--md text-uppercase g-mb-40 fadeInUp u-in-viewport" data-animation="fadeInUp" data-animation-delay="800" data-animation-duration="1500" style="animation-duration: 1500ms;">
						{{ season }} Teams to be Announced
					</h3>

					<div class="g-mb-25 fadeInUp u-in-viewport" data-animation="fadeInUp" data-animation-delay="500" data-animation-duration="1500" style="animation-duration: 1500ms;">
						{% comment %}<h2 class="h4 d-inline-block g-brd-bottom g-brd-2 g-brd-white g-color-white g-font-weight-600 text-uppercase g-pb-5">Invitations to Register coming soon...</h2>{% endcomment %}

						<div class="offset-md-3 col-6 g-mb-40">
							<button class="btn u-btn-primary btn-block g-font-size-20 text-uppercase g-font-weight-600 g-rounded-50 g-py-15 g-px-35" role="button"><a style="color: white;" href="#contact">Contact us to express your interest in attending</a></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}
