<section class="g-pt-20 g-pb-50 g-bg-secondary">
	<div class="container">
		<h2 class="g-color-black g-font-weight-600 g-font-size-25 g-font-size-35--lg g-line-height-1_2 mb-4">
			{{ season }} Tournament Rules
		</h2>

		<h3>Playing Rules</h3>

		<ol start="1" class="g-font-size-18">
			<li>
				All games will be played under FIBA rules with the following exceptions:
			</li>

			<li>
				The organising committee’s decisions are final in all matters and the committee may change or alter any rule or regulation on the day to benefit the smooth running of the tournament.
			</li>
		</ol>

		<h3>Players & Registrations</h3>

		<ol start="1" class="g-font-size-18">
			<li>
				All teams must have completed registration and paid all entrance fees by the first game in order to participate in the Strathclyde Masters Basketball Tournament.
			</li>
			<li>
				Players are only permitted to play for one team within the Masters Tournament.
			</li>
			<li>
				Age Limit: men playing in the over 50/60 age category must be at least 50/60 years of age and ladies 45 by the 31st of December 2020.
			</li>
			<li>
				All players must provide their Date of Birth. Proof of age may be requested and the playing of underage players will result in immediate disqualification. (Any team is entitled to request proof of age from another team through the organising committee on the day of the tournament.)
			</li>
			<li>
				In the event that a team is short of players, which would make them unable to continue to participate, the team can make representation to the Management Panel to request a relaxation of the Player Eligibility rule. This can only be considered in exceptional circumstances.
			</li>
			<li>
				It is expected that all players conduct themselves in the spirit of masters basketball. Failure to do so may incur disciplinary action. The Strathclyde Masters Basketball Club WILL NOT tolerate abuse of referees or officials and any such abuse will result in immediate player disqualification with the possibility of a future ban on playing in Strathclyde Masters tournaments.
			</li>
		</ol>

		<h3>Attendance on Court & Game Timing</h3>

		<ol start="7" class="g-font-size-18">

			<li>
				All games must start at the allocated game time.
			</li>
			<li>
				It is the named team’s responsibility to be warming up on centre court at the half time stage of the previous game. Published times are the latest possible start times but games may start earlier if the schedule permits.
			</li>
			<li>
				Failure by a team to be ready to start a game on time can result in a default and the game being awarded to the opposing team.
			</li>
			<li>
				All games must be completed within the allocated time slot. In the event of a game running late, the Games Commissioner may take a decision to Run the Game Clock if required.
			</li>
			<li>
				Game Time Allocations for the 2020 Tournament – it is envisaged that Game Time Allocation will be 1 hour per game.<br>
				The game will consist of 4 x 6 minute quarters with a 2 minute break between quarters and a 5 minute break at half time.<br>
				Each team is allowed 2 time outs, one in each half.
			</li>
		</ol>

		<h3>Tied Games</h3>

		<ol start="12" class="g-font-size-18">
			<li>
				In the event of a tied game, five players who finished the game for each team will shoot one free throw each with the team scoring the most baskets being deemed winners. If the game is tied after each team has taken their free throws, the game will be decided on a sudden death shoot out with players taking free throws in the same order as the initial shoot out.
			</li>
		</ol>

		<h3>Fouls</h3>

		<ol start="13" class="g-font-size-18">
			<li>
				Players will be disqualified after 4 personal fouls in any match.
			</li>
			<li>
				Teams will be in ‘penalty’ in each quarter, once they reach 4 team fouls.
			</li>
		</ol>

		<h3>Management Panel</h3>

		<p class="g-font-size-18">
			The Management Panel will consist of: Chairperson, Secretary and Treasurer of Strathclyde Masters Basketball Club. The Panel will resolve all matters referred to it, which are not covered by the Tournament Rules, whether they are operational, disciplinary, or management matters.
		</p>

		<p>Last updated: 24-Feb-2020</p>
	</div>
</section>


{%- comment -%}
<section class="u-bg-overlay g-bg-black-opacity-0_6--after g-bg-img-hero g-py-200--md g-py-80"
	style="background-image: url(/images/gallery/2019/56567288_10217220397954971_4441111697209425920_o.jpg);">
	<div class="container u-bg-overlay__inner text-center g-color-white">
		<div class="row">
			<div class="col-md-10 ml-md-auto mr-md-auto">
				<h3 class="g-font-weight-700 g-font-size-40 g-font-size-55--md text-uppercase g-mb-40 fadeInUp u-in-viewport" data-animation="fadeInUp" data-animation-delay="800" data-animation-duration="1500" style="animation-duration: 1500ms;">
					{{ season }} tournament rules to be announced
				</h3>

				<div class="g-mb-25 fadeInUp u-in-viewport" data-animation="fadeInUp" data-animation-delay="500" data-animation-duration="1500" style="animation-duration: 1500ms;">
					<h2 class="h4 d-inline-block g-brd-bottom g-brd-2 g-brd-white g-color-white g-font-weight-600 text-uppercase g-pb-5">Invitations to Register coming soon...</h2>
				</div>
			</div>
		</div>
	</div>
</section>
{%- endcomment -%}
