<section class="g-pt-20 g-pb-50 g-bg-secondary">
	<div class="container">
		<h2 class="g-color-black g-font-weight-600 g-font-size-25 g-font-size-35--lg g-line-height-1_2 mb-4">
			{{ season }} Results
		</h2>

		<div class="row">
			<div class="col">
				<div class="table-responsive">
					<table class="table table-bordered table-hover table-dark u-table--v2 text-center text-uppercase g-col-border-side-0">
						<thead>
							<tr class="g-bg-primary g-col-border-top-0">
								<th class="g-brd-white-opacity-0_1">Men 60+</th>
								<th class="g-brd-white-opacity-0_1">Men 50+</th>
								<th class="g-brd-white-opacity-0_1">Women 45+</th>
							</tr>
						</thead>

						<tbody class="g-font-size-12 g-color-white-opacity-0_5 g-font-weight-600">
							<tr>
								<td class="g-color-white-opacity-0_9">Strathclyde Sixers</td>
								<td class="g-color-white-opacity-0_9">KK Prule Slovenia</td>
								<td class="g-color-white-opacity-0_9">Team Maxim Russia</td>
							</tr>

							<tr>
								<td class="g-color-white-opacity-0_9"><img class="img-fluid" src="/images/gallery/2018/sixers.jpg"></td>
								<td class="g-color-white-opacity-0_9"><img class="img-fluid" src="/images/gallery/2018/prule.jpg"></td>
								<td class="g-color-white-opacity-0_9"><img class="img-fluid" src="/images/gallery/2018/maxim.jpg"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
