<!DOCTYPE html>
<html lang="en">

{% include layout/default/head.html %}

<body class="g-bg-gray-dark-v1 no-print">
	<main>
		{% include layout/default/header.html %}

		{{ content }}

		<!-- Footer -->
		<div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60 no-print">
			<div class="container">
				<div class="row">
					<!-- Footer Content -->
					<div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
						<div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
							<h2 class="u-heading-v2__title h6 text-uppercase mb-0">About Us</h2>
						</div>

						<p>The Strathclyde Masters Team first competed in 2000 at a GB Masters tournament held in Edinburgh. Since 2014 we have organised the Strathclyde Masters tournament in Glasgow.</p> 

						<p>The main tournament venue and the recommended hotel are within 2 miles of each other and 3 and 2 miles respectively from Glasgow Airport.</p>
					</div>
					<!-- End Footer Content -->

					{%comment%}
					<!-- Footer Content -->
					<div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
						<div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
							<h2 class="u-heading-v2__title h6 text-uppercase mb-0">Latest Posts</h2>
						</div>

						<article>
							<h3 class="h6 g-mb-2">
								<a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Incredible
									template</a>
							</h3>
							<div class="small g-color-white-opacity-0_6">May 8, 2017</div>
						</article>

						<hr class="g-brd-white-opacity-0_1 g-my-10">

						<article>
							<h3 class="h6 g-mb-2">
								<a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">New features</a>
							</h3>
							<div class="small g-color-white-opacity-0_6">June 23, 2017</div>
						</article>

						<hr class="g-brd-white-opacity-0_1 g-my-10">

						<article>
							<h3 class="h6 g-mb-2">
								<a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">New terms and
									conditions</a>
							</h3>
							<div class="small g-color-white-opacity-0_6">September 15, 2017</div>
						</article>
					</div>
					<!-- End Footer Content -->
					{%endcomment%}

					<!-- Footer Content -->
					<div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
						<div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
							<h2 class="u-heading-v2__title h6 text-uppercase mb-0">Useful Downloads</h2>
						</div>

						<nav class="text-uppercase1">
							<ul class="list-unstyled g-mt-minus-10 mb-0">
								<li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
									<h4 class="h6 g-pr-20 mb-0">
										<a class="g-color-white-opacity-0_8 g-color-white--hover" href="/resources/{{ site.season }}/Strathclyde Masters Fixtures {{ site.season }}.pdf" target="_blank">Fixtures</a>
										<i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
									</h4>
								</li>
								<li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
									<h4 class="h6 g-pr-20 mb-0">
										<a class="g-color-white-opacity-0_8 g-color-white--hover" href="/resources/{{ site.season }}/Strathclyde Masters Rules {{ site.season }}.pdf" target="_blank">Rules</a>
										<i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
									</h4>
								</li>
								<li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
									<h4 class="h6 g-pr-20 mb-0">
										<a class="g-color-white-opacity-0_8 g-color-white--hover" href="/resources/{{ site.season }}/Strathclyde Masters Liability Waiver {{ site.season }}.pdf" target="_blank">Liability Waiver</a>
										<i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
									</h4>
								</li>
							</ul>
						</nav>
					</div>
					<!-- End Footer Content -->

					<!-- Footer Content -->
					<div class="col-lg-6 col-md-6">
						<div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
							<h2 class="u-heading-v2__title h6 text-uppercase mb-0">Contact Us</h2>
						</div>

						<form name="contact" method="POST" type="application/x-www-form-urlencoded" data-netlify="true" data-netlify-recaptcha="true">
							<input name="subject" type="hidden" value="Strathclyde Masters Website Enquiry">

							<div class="row">
								<div class="col-6">
									<div class="form-group g-mb-20">
										<label class="g-mb-10" for="name">Full name *</label>

										<input id="name" name="name" class="form-control form-control-md rounded-0" type="text" required>
									</div>
								</div>

								<div class="col-6">
									<div class="form-group g-mb-20">
										<label class="g-mb-10" for="emailAddress">Email address *</label>

										<input id="email" name="email" class="form-control form-control-md rounded-0" type="email" required>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
									<div class="form-group">
										<label class="g-mb-10" for="message">Message *</label>

										<textarea id="message" name="message" class="form-control form-control-md g-resize-none rounded-0" rows="3" required></textarea>
									</div>

									<div class="col-md-4 col-lg-12">
										<div data-netlify-recaptcha="true"></div>

										<button class="btn u-btn-primary btn-block g-font-size-12 text-uppercase g-font-weight-600 g-rounded-50 g-py-15 g-px-35" type="submit" role="button">Send your message</button>
									</div>
								</div>
							</div>
						</form>


						{%comment%}

						<address class="g-bg-no-repeat g-font-size-12 mb-0"
							style="background-image: url(/assets/img/maps/map2.png);">

							<!-- Location -->
							<div class="d-flex g-mb-20">
								<div class="g-mr-10">
									<span
										class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
										<i class="fa fa-map-marker"></i>
									</span>
								</div>
								<p class="mb-0">795 Folsom Ave, Suite 600, <br> San Francisco, CA 94107 795</p>
							</div>
							<!-- End Location -->

							<!-- Phone -->
							<div class="d-flex g-mb-20">
								<div class="g-mr-10">
									<span
										class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
										<i class="fa fa-phone"></i>
									</span>
								</div>
								<p class="mb-0">(+123) 456 7890 <br> (+123) 456 7891</p>
							</div>
							<!-- End Phone -->

							<!-- Email and Website -->

							<div class="d-flex g-mb-20">
								<div class="g-mr-10">
									<span
										class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
										<i class="fa fa-globe"></i>
									</span>
								</div>
								<p class="mb-0">
									<a class="g-color-white-opacity-0_8 g-color-white--hover"
										href="mailto:info@strathclydemasters.com">info@strathclydemasters.com</a>
									<br>
									<a class="g-color-white-opacity-0_8 g-color-white--hover"
										href="https://www.strathclydemasters.com/">www.strathclydemasters.com</a>
								</p>

							</div>
							<!-- End Email and Website -->
						</address>
						{%endcomment%}
					</div>
					<!-- End Footer Content -->
				</div>
			</div>
		</div>
		<!-- End Footer -->

		<!-- Copyright Footer -->
		{% include layout/default/footer.html %}
		<!-- End Copyright Footer -->
		<a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
			<i class="hs-icon hs-icon-arrow-top"></i>
		</a>
	</main>

	<!-- JS Global Compulsory -->
	<script src="/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
	<script src="/assets/vendor/popper.js/popper.min.js"></script>
	<script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>

	<script src="/assets/vendor/bootstrap/offcanvas.js"></script>

	<!-- JS Implementing Plugins -->
	<script src="/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
	<script src="/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
	<script src="/assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
	<script src="/assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
	<script src="/assets/vendor/masonry/dist/masonry.pkgd.min.js"></script>
	<script src="/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
	<script src="/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/assets/vendor/slick-carousel/slick/slick.js"></script>
	<script src="/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
	<script src="/assets/vendor/jquery.countdown.min.js"></script>

	<!-- JS Unify -->
	<script src="/assets/js/hs.core.js"></script>

	<script src="/assets/js/components/hs.header.js"></script>
	<script src="/assets/js/helpers/hs.hamburgers.js"></script>

	<script src="/assets/js/components/hs.dropdown.js"></script>
	<script src="/assets/js/components/hs.scrollbar.js"></script>
	<script src="/assets/js/components/hs.popup.js"></script>
	<script src="/assets/js/components/hs.carousel.js"></script>

	<script src="/assets/js/components/hs.go-to.js"></script>


	<script src="/assets/js/components/hs.popup.js"></script>
	<script src="/assets/js/helpers/hs.height-calc.js"></script>
	<script src="/assets/js/components/hs.countdown.js"></script>

	<script src="/assets/js/jquery.ticker.min.js"></script>

	{% if displayMap %}
		<script src="/assets/vendor/gmaps/gmaps.min.js"></script>
		<script src="/assets/js/components/gmap/hs.map.js"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxz_u5Vo6f9sXl6vrfYO0a1zTHo_3APNU&callback=initMap" type="text/javascript"></script>
	{% endif %}

	<!-- JS Custom -->
	<script src="/assets/js/custom.js"></script>

	<!-- JS Plugins Init. -->
	<script>
	  	$( document ).ready( function () {
			$( '.ticker' ).ticker();

			// initialization of go to
			$.HSCore.components.HSGoTo.init( '.js-go-to' );

			// initialization of carousel
			$.HSCore.components.HSCarousel.init( '.js-carousel' );

			// initialization of masonry
			$( '.masonry-grid' ).imagesLoaded().then( function () {
				$( '.masonry-grid' ).masonry( {
					columnWidth: '.masonry-grid-sizer',
					itemSelector: '.masonry-grid-item',
					percentPosition: true
				} );
			} );

			// initialization of popups
			$.HSCore.components.HSPopup.init( '.js-fancybox' );

			// initialization of countdowns
			var countdowns = $.HSCore.components.HSCountdown.init( '.js-countdown', {
				yearsElSelector: '.js-cd-years',
				monthElSelector: '.js-cd-month',
				daysElSelector: '.js-cd-days',
				hoursElSelector: '.js-cd-hours',
				minutesElSelector: '.js-cd-minutes',
				secondsElSelector: '.js-cd-seconds'
			} );

			// initialization of header's height equal offset
			$.HSCore.helpers.HSHeightCalc.init();

			// initialization of masonry
			$( '.masonry-grid' ).imagesLoaded().then( function () {
				$( '.masonry-grid' ).masonry( {
					columnWidth: '.masonry-grid-sizer',
					itemSelector: '.masonry-grid-item',
					percentPosition: true
				} );
			} );
		} );

		$( window ).on( 'load', function () {
			// initialization of header
			$.HSCore.components.HSHeader.init( $( '#js-header' ) );
			$.HSCore.helpers.HSHamburgers.init( '.hamburger' );

			// initialization of HSMegaMenu component
			$( '.js-mega-menu' ).HSMegaMenu( {
				event: 'hover',
				pageContainer: $( '.container' ),
				breakpoint: 991
			} );
		} );

		{% if displayMap %}
			function initMap() {
				$.HSCore.components.HSGMap.init( '.js-g-map' );
			}
		{% endif %}
	</script>
</body>
</html>
