---
title: Past Season - 2024
layout: default.html
season: 2024
permalink: /2024/
displayMap: true
---

<section class="u-bg-overlay g-bg-black-opacity-0_6--after g-bg-img-hero g-py-200--md g-py-80"
	style="background-image: url(/images/gallery/2023/IMG-20230402-WA0020.jpg);">
	<div class="container u-bg-overlay__inner text-center g-color-white">
		<div class="row">
			<div class="col-md-10 ml-md-auto mr-md-auto">
				<h2 class="display-4 text-uppercase g-font-weight-600 g-mb-20">
					Strathclyde Masters<br>Basketball Tournament<br>{{ season }}
				</h2>

				<h3 class="h3 g-font-weight-700 g-mb-20">5th April - 7th April 2023</h3>

				<p class="lead g-mb-40">The Strathclyde Masters is the premier basketball tournament in Scotland for men over 40, 50, 60 and women over 50.</p>
			</div>
		</div>
	</div>
</section>

{% include '2024/content/teams.html' %}
{% include '2024/content/fixtures.html' %}
{% include '2024/content/gallery.html' %}
